[Unit]
After=tailscaled.service

[Service]
#ExecStart={{ git_dir }}/py_venv/bin/python3 {{ git_dir }}/sensors/rpi_all_sensors.py
WorkingDirectory={{ git_dir }}/sensors/rpi_arduino_shield
ExecStart={{ git_dir }}/py_venv/bin/python3 -m mqtt_io /opt/home-assistant/config/mqtt-io/mqtt-io.yml
Restart=always
StandardOutput=append:{{ git_dir }}/sensors/rpi_arduino_shield/poll.log
StandardError=inherit
SyslogIdentifier=fusensors
User=fu
Group=fu

[Install]
WantedBy=multi-user.target
