[Unit]
After=tailscaled.service

[Service]
WorkingDirectory={{ git_dir }}
ExecStart={{ git_dir }}/py_venv/bin/python3 -m mqtt_io ./mqtt-io.yml
Restart=always
StandardOutput=append:{{ git_dir }}/poll.log
StandardError=inherit
SyslogIdentifier=fusensors
User=fu
Group=fu

[Install]
WantedBy=multi-user.target
