[Unit]
After=docker.service

[Service]
WorkingDirectory={{ edenic_ha_dir }}
ExecStart={{ edenic_ha_dir }}/venv/bin/python3 ./edenic_mqtt.py
Restart=always
StandardOutput=append:{{ edenic_ha_dir }}/edenic.log
StandardError=inherit
SyslogIdentifier=edenic
User={{ ansible_user }}
Group={{ ansible_user }}

[Install]
WantedBy=multi-user.target