# Configuration file for dnsmasq.
#
# Format is one option per line, legal options are the same
# as the long options legal on the command line. See
# "/usr/sbin/dnsmasq --help" or "man 8 dnsmasq" for details.
# {{ ansible_managed }}

interface={{ eth_interface }},{{ wifi_ap_interface }}
bind-dynamic             # Bind to the interface
server={{ dns_server}}   # DNS to use
domain-needed            # Don't forward short names  
bogus-priv               # Drop the non-routed address spaces.  
dhcp-range={{ eth_interface }},{{ eth_dhcp_range.start }},{{ eth_dhcp_range.end }},{{ eth_dhcp_range.mask }},{{ eth_dhcp_range.lease_time }}
dhcp-range={{ wifi_ap_interface }},{{ ap_dhcp_range.start }},{{ ap_dhcp_range.end }},{{ ap_dhcp_range.mask }},{{ ap_dhcp_range.lease_time }}

