[Unit]
Description=Start tailscale vpn
Wants=tailscaled.service

[Service]
ExecStart=/usr/bin/tailscale up --reset --exit-node={{ tailscale_exit_node }}  --exit-node-allow-lan-access=true

[Install]
WantedBy=multi-user.target
#WantedBy=sys-subsystem-net-devices-%i.device