[Unit]
After=docker.service

[Service]
WorkingDirectory={{ hydrocontrol_dir }}
ExecStart={{ hydrocontrol_venv }}/bin/python3 -m hydrocontrol_ui --config="./hydrocontrol.yml"
Restart=always
StandardOutput=append:{{ hydrocontrol_dir }}/hydrocontrol.log
StandardError=inherit
SyslogIdentifier=hydrocontrol
User={{ rpi_user }}
Group={{ rpi_user }}

[Install]
WantedBy=multi-user.target
