[Unit]
After=tailscaled.service

[Service]
WorkingDirectory={{ hydro_dir }}
ExecStart={{ venv_dir }}/bin/python3 -m mqtt_io ./mqtt-io.yml
Restart=always
StandardOutput=append:{{ hydro_dir }}/mqtt-io.log
StandardError=inherit
SyslogIdentifier=mqtt-io
User=fu
Group=fu

[Install]
WantedBy=multi-user.target
