[Unit]
After=docker.service

[Service]
WorkingDirectory={{ hydrocontrol_dir }}
ExecStart={{ hydrocontrol_venv }}/bin/python3 -m mqtt_io ./mqtt-io.yml
Restart=always
StandardOutput=append:{{ hydrocontrol_dir }}/mqtt-io.log
StandardError=inherit
SyslogIdentifier=mqtt-io
User={{ rpi_user }}
Group={{ rpi_user }}

[Install]
WantedBy=multi-user.target
